

body{
    background-color : rgb(73, 72, 73);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blanchedalmond;
    font-size: 10pt;


}

body h1 {
    font-size: 10pt;
    
}

body h3{
    font-size: 8pt;
}
    
#content{
    display: flex;
    color:black;
}

    

header{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgb(156, 48, 124) 0%, rgba(28,20,33,1) 33%, rgb(61, 11, 91) 61%, rgb(156, 48, 124) 100%);
    text-align: center;
    padding: 20px;
    color: lightcyan;
    height: 40px;
    font-size: 10pt;

}


.logo{
    display: block;
    position: absolute;
    background: gray;
    padding : 10px;
    box-shadow: 1px 2px 10px black;
    animation-name: radius;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    border-bottom: 3px solid darkmagenta;
    

}

.logo2{
    margin-top: 20px;
    margin-left: 85%;
    display: block;
    position: absolute;
    background: gray;
    padding : 10px;
    box-shadow: 1px 2px 10px black;
    animation-name: radius;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    border-bottom: 3px solid darkmagenta;
    

}

@keyframes radius {
    0% { border-radius: 0px 20px;}
    25% { border-radius: 0px 20px;}
    50% { border-radius: 20px 0px;}
    100% { border-radius: 0px 20px;}
    

}

#iron{
    
font: 20pt bolder;
display: inline;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-shadow: 1px 2px 5px black;
color: blanchedalmond;

}

#tipping{
    
    font: 20pt ;
    display: inline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:rgb(73, 72, 73);
    padding: 3px;
    border-radius: 20px 1px;
    text-shadow: 1px 3px 5px black;
    color: blanchedalmond;
    
   
    
    }

    

aside#cont-lateral{
    height: 500px;
    width: 150px;
    background: rgb(117, 117, 117);
    text-align: center;
    box-shadow: 5px 5px 7px black;
    color: cornsilk;
    border-bottom: 3px solid darkmagenta;
    font-size: 10pt;
    animation-name: entrance;
    animation-iteration-count: 1;
    animation-duration: 1s;
   
}

@keyframes entrance {
    from{
        width: 0px;
        opacity: 0; 
    }
    to{
        width: 150px;
        opacity: 1;
    }
}




aside#cont-lateral  a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid gray;
    padding: 10px;
    margin: 3px;
    box-shadow: 1px 1px 2px black;
    color: white;
    border-bottom: 2px solid darkmagenta;
    border-radius: 1px 10px;
    transition:  ease-in;
    transition: 0.5s;
    font: 10pt;
}

aside#cont-lateral  a:hover{
    background: #5f5a5a;
    border-radius: 10px 1px;
   
    
}



section#cont-corpo{
    height: 500px;
    width: 100%;
    padding: 10px;
    background: rgba(231, 233, 235, 0.5);
    margin: 5px;
    align-content: center;
    border-radius: 0px 30px ;
}



iframe{
    
    padding: 20px;
    
    
    
}

#overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgb(131,58,180);
    background: linear-gradient(90deg, rgb(156, 48, 124) 0%, rgba(28,20,33,1) 33%, rgb(61, 11, 91) 61%, rgb(156, 48, 124) 100%);*/
    background: url(http://source.unsplash.com/random) no-repeat;
    background-size: cover;
    z-index: 2; 
    cursor: pointer; 
   

     
    
  }
/*
  .fundo1{
      display: fixed;
      background:rgb(73, 72, 73);
      position: absolute;
      height: 600px;
      width: 600px;
      z-index: -2;
      margin-top:25%;
      margin-left:0%;
      border-radius: 200px  700px 200px  200px ;
      animation-name: fundo1;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-delay: 6s;
  }

  .fundo2{
    display: fixed;
    background: rgb(131,58,180);
    position: absolute;
    height: 800px;
    width: 800px;
    z-index: -2;
    margin-top:15%;
    margin-left:70%;
    animation-name: fundo2;
    border-radius: 200px  700px 200px  200px ;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

.fundo3{

    display: fixed;
    background: rgb(183, 122, 224);
    position: absolute;
    height: 800px;
    width: 800px;
    z-index: -3;
    margin-top:0%;
    margin-left:0%;
    border-radius: 200px  700px 200px  200px ;
    animation-name: fundo3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

.fundo4{

    display: fixed;
    border: 3px solid ;
    position: absolute;
    height: 800px;
    width: 800px;
    z-index: -4;
    margin-top:10%;
    margin-left:20%;
    border-radius: 200px  700px 200px  200px ;
    animation-name: fundo1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 8.5s;
}


.fundo5{

    display: fixed;
    border: 6px solid rgb(153, 51, 119) ;
    position: absolute;
    height: 800px;
    width: 600px;
    z-index: -2;
    margin-top:0%;
    margin-left:0%;
    border-radius: 200px  700px 200px  200px ;
    animation-name: fundo3;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}

@keyframes fundo1 {
    0% { border-radius: 200px  700px 200px  200px ;}
    25% { border-radius: 200px  200px 700px  200px;}
    50% { border-radius: 200px  700px 200px  700px;}
    70% { border-radius: 200px  700px 200px  700px;}
    100% { border-radius: 200px  900px 200px  900px;}
    

}

@keyframes fundo2 {
    0% { border-radius: 200px  700px 200px  200px ;}
    25% { border-radius: 200px  200px 700px  200px;}
    50% { border-radius: 200px  700px 200px  700px;}
    70% { border-radius: 200px  700px 200px  700px;}
    100% { border-radius: 200px  700px 200px  200px;}
    

}

@keyframes fundo3 {
    0% { border-radius: 200px  700px 200px  200px ;}
    25% { border-radius: 200px  200px 700px  200px;}
    50% { border-radius: 200px  700px 200px  700px;}
    70% { border-radius: 200px  700px 200px  700px;}
    100% { border-radius: 200px  700px 200px  200px;}
    

}
*/


  #overhora{
      color: aliceblue;
      padding-top: 30%;
      padding-left: 1%;
      text-shadow: 1px 2px 5px black;
      font-size: 70pt;
      

      

  }

  #overdata{
    display: block;
    color: aliceblue;
    padding-left: 2%;
    text-shadow: 1px 2px 5px black;
    font-size: 20pt;
    
    

}


  .btn{
      border: none;
      padding: 5px;
      font-weight: bold;
      background: linear-gradient(180deg, rgba(126,34,195,1) 0%, rgb(19, 5, 17) 100%);
      color:aliceblue;
     
      

  }

  .btn:hover{
    background: linear-gradient(180deg, rgba(166,121,200,1) 0%, rgba(228,148,220,1) 100%);
    cursor: pointer;
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
   
    
  }

  footer{
      background: black;
      padding: 9px;
     
  }
  
  .under{
      content: '';
       border: 1px solid purple  ;
       display: inline-block;
       width: 100%;
       vertical-align: middle;
       animation-name: linein;
       animation-duration: 3s;
       animation-iteration-count: infinite;
       

  }
  
  @keyframes linein {
      from {border: 1px solid rgb(233, 54, 233);}
      to {border: 1px solid purple;}
  }
  
  #tips{

      background: #5f5a5a;
      border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    
      
  }

.firstop{
    padding-top: 60px;
}


  #tips textarea{
      background: #5f5a5a;
      border: none;
      color: aliceblue;
  }

  #tips pre{
      color: #d3d3d3af;
  }


#tiptop{
    position: fixed;
    width: 100%;
    background: #5f5a5a;
    margin: 0%;
    box-shadow: 1px 1px 5px black;
    padding-top: 5px;
    padding-left: 5px;
    
}

  
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
  }

  #links{
      
      height: 200px;  
      
  }

  #lin-cont{

    display: flex;
  }

  

    #links a{
        
        text-decoration: none;
        color: lightcyan;
        font-size: 8pt;
        text-shadow: 1px 1px 5px black;
        text-align: center;
        
    }

   

    #links img{
        height: 40px;
        width: 40px;
        padding: 2px 30px 10px 30px;
        
        }

        #links p:hover{
            background: rgba(231, 233, 235, 0.5);
            transition: 0.5s;
            
        }