*{
    
    font-size: 10pt;
    margin: 0%;
    
    

}

body{
    background-color : rgba(153, 88, 141);
    background: url(/src/wallpaper.jpg);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
 


}
    
#content{
    display: flex;
}

    

header{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgb(156, 48, 124) 0%, rgba(28,20,33,1) 33%, rgb(61, 11, 91) 61%, rgb(156, 48, 124) 100%);
    text-align: center;
    padding: 20px;
    color: lightcyan;

}

aside#cont-lateral{
    height: 500px;
    width: 150px;
    background: white;
    border-radius: 3%;
    text-align: center;
   
}

aside#cont-lateral {
    list-style: none;
    margin: 0%;
    padding: 0%;
    
}

aside#cont-lateral  a{
    text-decoration: none;
}



section#cont-corpo{
    height: 500px;
    width: 900px;
    border-radius: 3%;
    padding: 10px;
    background: rgba(231, 233, 235, 0.5);
    
}

article#cont-avisos{
    
    height: 500px;
    width: 200px;
    background: oldlace;
}

iframe{
    
    padding: 2px;
    border-radius: 5%;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/src/wallpaper.jpg) no-repeat;
    background-size: cover;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    transition: all 1.5;
    
    
  }
  #overhora{
      color: aliceblue;
      padding-top: 30%;
      padding-left: 1%;
      text-shadow: 1px 2px 5px black;
      font-size: 50pt;
      

  }

  