*{
    
    font-size: 10pt;
 
    
    

}

body{
    background-color : rgb(73, 72, 73);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blanchedalmond;
 


}
    
#content{
    display: flex;
    color:black;
}

    

header{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgb(156, 48, 124) 0%, rgba(28,20,33,1) 33%, rgb(61, 11, 91) 61%, rgb(156, 48, 124) 100%);
    text-align: center;
    padding: 20px;
    color: lightcyan;

}

aside#cont-lateral{
    height: 500px;
    width: 150px;
    background: rgb(117, 117, 117);
    text-align: center;
    box-shadow: 5px 5px 7px black;
    color: cornsilk;
    border-bottom: 3px solid darkmagenta;
    
   
}

aside#cont-lateral {
    list-style: none;
    
    
}

aside#cont-lateral  a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid gray;
    padding: 10px;
    margin: 3px;
    box-shadow: 1px 1px 2px black;
    color: white;
    border-bottom: 2px solid darkmagenta;
}

aside#cont-lateral  a:hover{
    background: #cfcdcd;

}



section#cont-corpo{
    height: 480px;
    width: 100%;
    padding: 10px;
    background: rgba(231, 233, 235, 0.5);
    margin: 5px;
    align-content: center;
}



iframe{
    
    padding: 20px;
    
    
}

#overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/src/wallpaper.jpg) no-repeat;
    background-size: cover;
    z-index: 2; 
    cursor: pointer; 

    

    
    
  }
  #overhora{
      color: aliceblue;
      padding-top: 30%;
      padding-left: 1%;
      text-shadow: 1px 2px 5px black;
      font-size: 70pt;

      

  }

  #overdata{
    color: aliceblue;
    padding-left: 2%;
    text-shadow: 1px 2px 5px black;
    font-size: 20pt;
    

}


  .btn{
      border: none;
      padding: 5px;
      font-weight: bold;
      background: linear-gradient(180deg, rgba(126,34,195,1) 0%, rgb(19, 5, 17) 100%);
      color:aliceblue;
     
      

  }

  .btn:hover{
    background: linear-gradient(180deg, rgba(166,121,200,1) 0%, rgba(228,148,220,1) 100%);
    cursor: pointer;
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
   
    
  }

  footer{
      background: black;
      padding: 9px;
     
  }
  