*{
    
    font-size: 10pt;
    margin: 0%;
    

}

body{
    background-color : rgba(153, 88, 141);
    background: url(/wallpaper.jpg);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:cornsilk;


}
    
    

    

header{
    background:rgb(82, 83, 85);
    text-align: center;
    padding: 1px;

}

aside#cont-lateral{
    height: 500px;
    width: 150px;
    background: white;
    display: inline-table;
    border-radius: 3%;
    text-align: center;
}

aside#cont-lateral ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}

aside#cont-lateral ul li a{
    text-decoration: none;
}



section#cont-corpo{
    height: 500px;
    width: 900px;
    display: inline-table;
    border-radius: 3%;
    padding: 10px;
    background: rgba(231, 233, 235, 0.5);
    
}

article#cont-avisos{
    display: inline-table;
    height: 500px;
    width: 200px;
    background: oldlace;
}

